cps-admin/node_modules/*
cps-admin/.env
cps-web/node_modules/*
cps-web/.env
cps-node/node_modules/*
cps-node/scratch/*
cps-node/.env
cps-node/.env*
cps-node/uploads
cps-node/config/config.js
.scannerwork/
cps-node/controllers/web/webUserController.ts
cps-node/MulterConfig/uploads
cps-node/controllers/admin/uploads/
cps-node/dist/daemon
cps-node/dist/MulterConfig/uploads/
cps-web/build/web.config
cps-admin/build/web.config
cps-node/dist/models/index.js
cps-node/dist/nodeService.js
cps-node/dist/.env
cps-node/dist/models/index.js
cps-node/dist/config/config.js
cps-node/dist/controllers/web/webUserController.js
cps-node/dist/controllers/web/webUserController.js
cps-admin/build/
cps-node/dist*
cps-web/build
